In [1]:
import pandas as pd
import numpy as np

## Задача 1
Скачать файл в уроке
Считать данные с помощью pandas
Вывести на экран первые 5 строк
Посмотреть на описание признаков и на их содержание

In [68]:
df = pd.read_csv('kc_house_data.csv', encoding='windows-1251', sep=',')
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

## Задача 2
Проведите первичный анализ данных
Изучите типы данных
Найдите количество пропущенных ячеек в данных
Посчитайте основные статистики по всем признакам и поизучайте их
Пишите выводы

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [70]:
df.dtypes

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

In [71]:
df.isna().sum

<bound method NDFrame._add_numeric_operations.<locals>.sum of           id   date  price  bedrooms  bathrooms  sqft_living  sqft_lot  \
0      False  False  False     False      False        False     False
1      False  False  False     False      False        False     False
2      False  False  False     False      False        False     False
3      False  False  False     False      False        False     False
4      False  False  False     False      False        False     False
...      ...    ...    ...       ...        ...          ...       ...
21608  False  False  False     False      False        False     False
21609  False  False  False     False      False        False     False
21610  False  False  False     False      False        False     False
21611  False  False  False     False      False        False     False
21612  False  False  False     False      False        False     False

       floors  waterfront   view  ...  grade  sqft_above  sqft_basement  \
0       False       False  False  ...  False       False          False
1       False       False  False  ...  False       False          False
2       False       False  False  ...  False       False          False
3       False       False  False  ...  False       False          False
4       False       False  False  ...  False       False          False
...       ...         ...    ...  ...    ...         ...            ...
21608   False       False  False  ...  False       False          False
21609   False       False  False  ...  False       False          False
21610   False       False  False  ...  False       False          False
21611   False       False  False  ...  False       False          False
21612   False       False  False  ...  False       False          False

       yr_built  yr_renovated  zipcode    lat   long  sqft_living15  \
0         False         False    False  False  False          False
1         False         False    False  False  False          False
2         False         False    False  False  False          False
3         False         False    False  False  False          False
4         False         False    False  False  False          False
...         ...           ...      ...    ...    ...            ...
21608     False         False    False  False  False          False
21609     False         False    False  False  False          False
21610     False         False    False  False  False          False
21611     False         False    False  False  False          False
21612     False         False    False  False  False          False

       sqft_lot15
0           False
1           False
2           False
3           False
4           False
...           ...
21608       False
21609       False
21610       False
21611       False
21612       False

[21613 rows x 21 columns]>

In [72]:
df.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [73]:
df.describe(include=['object'])

                   date
count             21613
unique              372
top     20140623T000000
freq                142

Выводы: 
1. Пустых значений в строках и столбцах не обнаружено.
2. Тип данных у всех стобцов числовой (int/float), кроме данный в столбеце Date (odject).
    Соответственно, для дальнейшего анализа рекомендуется изменить тип данных столбца Date с object и создать признаки года и месяца продаж.

## Задача 3
Ответьте на несколько вопросов

### 3.1 В каком диапазоне изменяются стоимости недвижимости?

In [74]:
df['price'].min(), df['price'].max()

(75000.0, 7700000.0)

### 3.2 Какую долю в среднем занимают жилая площадь от всей площади по всем домам?

In [75]:
data1 = df['sqft_living'].mean()
data1

2079.8997362698374

In [76]:
data2 = df['sqft_lot'].mean()
data2

15106.967565816869

In [77]:
res = round(data1/data2*100, 2)
res

13.77

### 3.3 Как много домов с разными этажами в данных?

In [78]:
df['floors'].value_counts()

1.0    10680
2.0     8241
1.5     1910
3.0      613
2.5      161
3.5        8
Name: floors, dtype: int64

### 3.4 Насколько хорошие состояния у домов в данных?

In [79]:
df['condition'].value_counts()

3    14031
4     5679
5     1701
2      172
1       30
Name: condition, dtype: int64

In [84]:
res = round(df['condition'].value_counts(normalize=True)*100, 2)
res

3    64.92
4    26.28
5     7.87
2     0.80
1     0.14
Name: condition, dtype: float64

### 3.5 Найдите года, когда построили первый дом, когда построили последний дом в данных?

In [85]:
df['yr_built'].min(), df['yr_built'].max()

(1900, 2015)

## Задача 4
Ответьте на несколько вопросов

In [102]:
df.head(5)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

### 4.1 Сколько в среднем стоят дома, у которых 2 спальни?

In [92]:
df[df['bedrooms'] == 2]['price'].mean()

401372.681884058

### 4.2 Какая в среднем общая площадь домов, у которых стоимость больше 600 000?

In [94]:
df[df['price'] >= 600000]['sqft_lot'].mean()

20454.783537543197

### 4.3 Как много домов коснулся ремонт?

In [95]:
df[(df['yr_renovated'] != 0)].shape[0]

914

### 4.4 Насколько в среднем стоимость домов с оценкой grade домов выше 10 отличается от стоимости домов с оценкой grade меньше 4?

In [98]:
data1 = df[(df['grade'] >= 10)]["price"].mean()
data1

1257984.857579462

In [99]:
data2 = df[(df['grade'] <= 4)]["price"].mean()
data2

211395.45454545456

In [101]:
res = round((data1 - data2), 2)
res

1046589.4

## Задача 5
Ответьте на несколько вопросов

### Клиент хочет дом с видом на набережную, как минимум с тремя ванными и с подвалом. Сколько вариантов есть у клиента?

In [103]:
df[(df['waterfront'] == 1) & (df['bathrooms'] >= 3) & (df['sqft_basement'] != 0)].shape[0]

41

### Клиент хочет дом либо с очень красивым видом из окна, либо с видом на набережную, в очень хорошем состоянии и год постройки не меньше 1980 года. В какой ценовом диапазоне будут дома?

In [108]:
client_price = df[(df['view'] == 4) | (df['waterfront'] == 1) & (df['condition'] == 5) & (df['yr_built'] >= 1980)]['price']

In [109]:
client_price.min(), client_price.max()

(252000.0, 6885000.0)

### Клиент хочет дом без подвала, с двумя этажами, стоимостью до 150000. Какая оценка по состоянию у таких домов в среднем?

In [117]:
client_cond = df[(df['sqft_basement'] == 0) & (df['floors'] == 2) & (df['price'] <= 150000)]['condition']

In [118]:
client_cond

2589     3
10105    3
11255    4
15610    3
18332    1
18939    4
18988    3
Name: condition, dtype: int64

In [119]:
client_cond.mean()

3.0